:root {
  /* Colours */
  --color-text: #ffff;
  --color-primary: #576cbc;
  --color-secondary: #19376d9e;
  --color-dark: #0b2447;
  --color-bg: #6a4feba6;
  /* --color-bg: white; */

  /* Fonts */
  --font-roboto: "Roboto";

}