:root {
  /* Colours */
  --color-text: #403d39;
  --color-primary: #576cbc;
  --color-secondary: #19376d9e;
  --color-dark: #0b2447;
  --color-bg: #f6f6f6;

  /* Fonts */
  --font-roboto: "Roboto";

}