@import "../../vars.css";

.container{
  display: flex;
  gap: 24px;
  flex-direction: row;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(25, 4, 69, 0.4) 0%, #132a53b0 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 100%;
}

.image{
  margin-bottom: 26px;
  width: 30%;
}

.title{
  font-size: 18px;
  font-weight: 700;

}
.description{
  margin-top: 6px;
  font-size: 18px;
  font-weight: 300;

}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;

}
.skill{
  font-size: 18px;
  font-weight: 300;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 8px 12px;
}

.links{
  width: 100%;
  margin-top: 18px;
  margin-bottom: 12px;

}
.link{
  text-decoration: none;
  margin-left: 12px;
  color: var(--color-text);
  font-style: 18px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 8px 12px;
}